app_dependencies:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build

    cd ./ && make
app_deploy:
  type: text
  content: |2
     #!/bin/sh
    <<'###'
    Sample Deploy Instructions
    HELM_OPTS="--set clusterIP=${ROOST_CLUSTER_IP},tag=${ROOST_NAMESPACE},namespace=${ROOST_NAMESPACE}"

    helm install <helm-folder> -n <ns> $HELM_OPTS

    kubectl apply -f <file>.yaml
    ###

     
     docker-compose -f voter/voter.yaml up -d
    kubectl apply -n $ROOST_NAMESPACE -f voter/voter.yaml
app_test: []
app_uninstall:
  type: text
  content: |+
    #!/bin/sh

app_docker_compose: voter/voter.yaml
lastUpdatedBy: Chaitra B V
lastUpdatedOn: 2023-05-23T08:09:41.196Z
